$main_color:#999;
$main_color_hover:#eee;
$blue_color:rgb(63,81,181);
$white_color:#fff;
$menu_color:rgb(63,81,181);
$color_hover_menu:#52c6d7;
$color_tasks: #eee;
$color_hover: #666;
$background_content_hide: #000;
$background_menu_hover: #52c6d7;
$background_class_menu: #999;

@mixin transitional($time:0.3s, $mod:ease) {
  -webkit-transition: $time $mod;
  -moz-transition: $time $mod;
  -o-transition: $time $mod;
  -ms-transition: $time $mod;
  transition: $time $mod;
}

@mixin perspective($value:600) {
  -webkit-perspective: $value+px;
  -moz-perspective: $value+px;
  -ms-perspective: $value+px;
  -o-perspective: $value+px;
  perspective: $value+px;
}

@mixin preserve3d(){
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

@mixin rotate($deg:0){
  -webkit-transform: rotateY( $deg+deg );
  -moz-transform: rotateY( $deg+deg );
  -ms-transform: rotateY( $deg+deg );
  -o-transform: rotateY( $deg+deg );
  transform: rotateY( $deg+deg );
}

@mixin position($z,$mode:none,$pos:"absolute",$top:0,$right:0,$bottom:0,$left:0){
  @if($mode!=none){
    @if($mode=="top-right"){ top: $top; right: $right;
    }@else if($mode=="top-left"){ top: $top; left: $left;
    }@else if($mode=="bottom-right"){  bottom: $bottom; right: $right;
    }@else if($mode=="bottom-left"){ bottom: $bottom; left: $left; }
  }@else {
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
  }

  position: $pos;
  z-index:$z;
}

@mixin radius($px:50) {
  -moz-border-radius: $px + px;
  -webkit-border-radius: $px + px;
  border-radius: $px + px;
}