@import "./mixin";

body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 15px;
}
 
 
::-webkit-scrollbar-track {
    background: #eee;
}
 
 
::-webkit-scrollbar-thumb {
    background: #666; 
}

.auto{
    text-align: center;

    &:before{
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
}

.autorization{
    display: inline-block;
    vertical-align: middle;
    height: 250px;
    width: 300px;
    background: #eee;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
    position: relative;

    .block_input { margin-top: 35px; }
    .block_button { margin-top: 35px; }

    .message_block {
        @include transitional(0.3s);
        position: absolute;
        z-index: 1;
        bottom: 0;
        opacity: 0;
        height: 50px;
        width: 100%;
        font-size: 16px;
        text-align: center;
        padding: 10px;
        overflow: hidden;
        color: #eee;

        &.success { background-color: green }
        &.error { background-color: red }
        &.show { bottom: -50px;opacity: 1; }
    }
}

.error{
    border-color: red!important;
}

.addBlock {
    width: 400px;
    margin: 0 auto;
    background: #eee;
    padding: 20px;
}
crollbar-track-color{
        color: #111;   
    }
.list_block {
    
    width: 400px;
    margin:0 auto;
    height: 600px;
    overflow: auto;

    h3{
        text-align: center;
    }
}

.changePassword {
   i{
       font-size: 14px;
   } 
}